<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Simple Blog</title>
	
	<link rel='stylesheet' th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}"  />
	<link rel="stylesheet" th:href="@{/static/css/simpleblog.css}" />
	<link rel="stylesheet" th:href="@{/static/css/theme.bootstrap.css}" />
	
	<script th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
	<script th:src="@{/static/js/jquery.tablesorter.min.js}"></script>
	<script th:src="@{/static/js/jquery.tablesorter.widgets.js}"></script>
	<script th:src="@{/static/js/simpleblog.js}"></script>
	
</head>
<body layout:fragment="content" style="background-color:#e2b1f9" >
</body>
</html>