<html 	xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  		layout:decorator="layout">

<body layout:fragment="content" style="background-color:#e2b1f9" >
	<div class="container">
		<a th:href="@{/logout}">logout</a>
	</div>
	<div class="container msg" th:if="${msg}">
		<p class="text-success" th:text="${msg}">msg</p>
	</div>
	<div class="container error" th:if="${error}">
		<p class="text-danger" th:text="${error}">error</p>
	</div>
	<div class="container">
	<h1>Post</h1>
	<form method="post" th:object="${post}" th:action="@{/}">
		<div class="form-group" th:name="title" th:errorclass="has-error" >
			<label class="control-label" for="title">Titel</label> 
			<input class="form-control" type="text" th:field="*{title}"/>
		</div>
		<div class="form-group" th:name="description" th:errorclass="has-error" >
			<label class="control-label" for="description">Description</label> 
			<textarea class="form-control" th:field="*{description}"></textarea>
		</div>
		<input type="hidden" th:field="*{id}"/>
		<input type="hidden" th:field="*{version}"/>
		<button type="submit" class="btn btn-default" >Save</button>
	</form>
	</div>
	<div class="container" th:if="${!posts.empty}">
	<h1>Posts</h1>
	<table class="table table-striped tablesorter-bootstrap">
	<thead>
		<tr>
			<th>Titel</th>
			<th>Description</th>
			<th class="col-sm-1 sorter-false"></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="post : ${posts}">
			<td><a th:href="@{'/'+${post.id}+'/edit'}" th:text="${post.title}">title</a></td>
			<td th:text="${post.description}">description</td>
			<td>
				<a class="btn" th:href="@{'/'+${post.id}+'/delete'}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
	</tbody>
	</table>
	</div>
</body>
</html>